.row {
    height: 100%;
}

.topics {
    text-align: center;
    padding: 20px;
}

.gifs {
    padding: 20px;
    text-align: center;
}

/* Design backgound */
.container-fluid {
    background-color: #E8871E;
}

.gif-side {
    background-color: #BAD4AA;
}

.search-side {
    text-align: center;
    background-color: #D4D4AA;
}